.ipynb_checkpoints
./models/saved_models/**
__pycache__
dask-worker-space
models/saved_models/best_test_01.sav
models/saved_models/best_test_02.sav
models/saved_models/best_test_03.sav
models/saved_models/raw_test_01.sav
models/saved_models/best_test_04.sav
logs/log_rscv_05
logs/log_rcsv_06
logs/log_rscv_02
.gitignore
logs/log_rscv_03
logs/log_rscv_04
logs/**
predictions/**
**.tif
predictions
