.ipynb_checkpoints
./models/saved_models/**
__pycache__
dask-worker-space
models/saved_models/best_test_01.sav
models/saved_models/best_test_02.sav
models/saved_models/best_test_03.sav
models/saved_models/raw_test_01.sav
models/saved_models/best_test_04.sav
logs/log_rscv_05
logs/log_rcsv_06
logs/log_rscv_02
.gitignore
logs/log_rscv_03
logs/log_rscv_04
logs/**
predictions/**
**.tif
models/saved_models/sklearn_model_0.sav
load_dataset/LakeDepth/bands_20170714_t213741_extract.csv
.vscode

models/saved_models/k_fold_389_estimators
models/saved_models/k_fold_1052_estimators
models/saved_models/k_fold_1150_estimators
models/saved_models/test_out.sav
